.menu
{
    display: grid;
    padding: 10px;
    margin-left: 10px;
    flex-direction: column;
    float: left;
    height: 93vh;
    background: linear-gradient(to top left, #b0e0e6, #ffc0cb);
    grid-column-gap: 23px;
    grid-template-areas: 'stats pig pig' 'text svin items' '. volume .';
}

.reset-icon
{
    margin: 0 auto;
    cursor: pointer;
    position: absolute;
    border: none;
    height: 80px;
    font-size: 36px;
    grid-area: stats;
    top: 133px;
    left: 68px;
}

.border
{
    box-shadow: 2px 2px 5px #ff5757;
}

.params
{
    margin: 0 auto;
    margin-top: 20px;
    display: flex;
    grid-area: stats;
    flex-direction: column;
    align-content: space-around;
    padding: 10px;
    width: 200px;
}

.param
{
    margin: 5px;
    display: flex;
    flex-direction: row;
    align-content: space-between;
}

.container
{
    width: 100px;
    height: 16px;
    background: linear-gradient(to right, #f00, #00ff7f);
    border-radius: 22px;
}

.param__name
{
    width: 60px;
}

.lack
{
    width: 0;
    height: 100%;
    float: right;
    background-color: #fff;
}

svg
{
    cursor: pointer;
    grid-area: svin;
}

.pig
{
    height: 17em;
    cursor: pointer;
    grid-area: pig;
    
}

.speech-recognition
{
    margin-top: 20px;
    padding: 10px;
    height: 90%;
    width: 100%;
    grid-area: text;
}

.speech-recognition__icon
{
    margin: auto;
    height: 80px;
}

.speech-recognition__words
{
    border: 2px solid #000;
    height: 100%;
}

.icons
{
    cursor: pointer;
    margin-top: 20px;
    height: 30px;
    grid-area: items;
}

.feed
{
    width: 80px;
    margin: auto;
}

.feed:hover
{
    text-shadow: 2px 2px 2px #ff5757;
}

.volume
{
    margin-top: 15px;
    flex-direction: row;
    grid-area: volume;
}

.volume__header
{
    height: 16px;
    margin: auto 2px auto 0;
}

.slidecontainer
{
    width: 100%;
}

.slider
{
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 25px;
    background: #ebebeb;
    outline: none;
}

.slider::-webkit-slider-thumb
{
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #8ef1a0;
    cursor: pointer;
}

.slider::-moz-range-thumb
{
    width: 25px;
    height: 25px;
    background: #8ef1a0;
    cursor: pointer;
}
