body
{
    font: 15px Arial;
}

button
{
    display: block;
}

audio
{
    display: block;
}

.svg
{
    position: absolute;
    left: 500px;
    top: 200px;
    width: 300px;
    height: 300px;
    border: 1px solid black;
}

.speech-log
{
    width: 300px;
    height: 200px;
    border: 1px solid black;
}

.death-text
{
    font: 30px Arial;
    color: #ff69b4;
}
