body
{
    background: #f5f5f5;
    margin: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
}

.game
{
    background: #fff;
    margin: auto;
    width: 600px;
    display: flex;
    flex-direction: column;
}

.state
{
    display: flex;
}

.state__item
{
    padding-top: 10px;
    padding-bottom: 10px;

    flex: 1;
    text-align: center;
}

.state__energy
{
    background: yellow;
}

.state__mood
{
    background: aqua;
}

.state__satiety
{
    background: red;
}

.controls
{
    display: flex;
}

.controls__item
{
    box-sizing: border-box;
    padding: 10px 15px;
    flex: 1;
    text-align: center;
    font-size: 14px;
}

.game__area
{
    padding: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
}
